<div class="page-login" fxFlexFill fxLayout="column" fxLayoutAlign="center center">

  <md-card class="loginForm">
    <md-card-title fxLayoutAlign="center center">Login to Application</md-card-title>

    <md-card-content >
      <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" (submit)="doLogin()">
        <md-input-container fxFlexFill>
          <input mdInput formControlName="login" name="login" placeholder="Username">
        </md-input-container>

        <md-input-container fxFlexFill>
          <input mdInput formControlName="password" name="password" placeholder="Password" type="password">
        </md-input-container>

        <button md-button md-raised-button [disabled]="!loginForm.valid">Login</button>
      </form>
    </md-card-content>
  </md-card>
  <md-card class="additional-info">
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <a [routerLink]="['/auth/recover']">Passwort vergessen?</a>
        <span class="divider-h"></span>
        <a [routerLink]="['/auth/register']">Registrieren</a>
      </div>
    </md-card-content>
  </md-card>
</div>

