.page-login {
  //background: url('../../../assets/images/background/bg.png') no-repeat center center fixed;
}

.loginForm {
  width: 350px;
}

.additional-info {
  width: 350px;
  padding: 5px 24px;
  background: #F5F5F5;

  > a {
    font-weight: 500;
    text-align: center;
    font-size: 0.875rem;
  }
  .divider-h {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 15px;
  }
}
