<h1>Todos</h1>
<div *ngIf="realTimeReady$ | async">
  <h2>Add Todo:</h2>
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div>
      <label for="title">Title: </label>
      <input id="title" type="text" formControlName="title">
    </div>
    <div>
      <label for="done">Done? </label>
      <input id="done" type="checkbox" formControlName="done">
    </div>
    <div>
      <button type="submit">Add</button>
    </div>
  </form>

  <ul *ngIf="todos$ | async as todos">
    <li *ngFor="let todo of todos">
      {{ todo.title }}
    </li>
  </ul>
</div>
